.index .mmage {
    width: 160px;
    text-align: center;
}
.index .mmupdated {
    width: 80px;
}
.clearcacheform {
    text-align: right;
}
#mmprogresscontainer {
    display: block;
    margin: 0px;
    padding: 1px;
    background-color: #000;
    height: 10px;
    width: 160px;
}
#mmprogressbar {
    display: block;
    margin: 0px;
    padding: 0px;
    background-color: #f80;
    height: 10px;
    width: 1px;
}
.documentation pre {
    background-color: #ddd;
    border: 1px solid #888;
    margin-left: 40px;
    margin-right: 40px;
    overflow-x: scroll;
}
.documentation h3 {
    margin-top: 40px !important;
}
.documentation p {
    margin-right: 30%;
}